@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

body,
html {
  overflow-anchor: none;
}

/* Posts */

p {
  font-size: 19px;
  margin: 15px 0;
}

.inline-code {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px 3px;

  /* NOTE: monospace fonts usually too large */
  font-family: monospace;
  font-size: 15px;
}

p,
li {
  line-height: 1.7;
}

h1 {
  font-weight: bold;
  font-size: 33px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

li {
  display: list-item;
  list-style-position: inside;
}

.code,
.latex {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
  margin: 15px 0;
}

.latex {
  font-size: 25px;
}

.code code {
  text-align: left;
  display: inline-block;
}

.postContainer {
  margin: 75px auto;
  max-width: 800px;
}

/* Post header */
.headerContainer {
  margin-bottom: 30px;
}

.headerTitle {
  font-size: 45px;
  font-weight: bold;
}

.headerDate {
  font-size: 16px;
  color: gray;
}

.headerDescription {
  font-size: 20px;
}

ul,
ol {
  list-style-type: decimal;
  font-size: 19px;
  padding-left: 20px;
}
