.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 50%;
  padding: 40px 0;
}

.metaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.metaTitle {
  font-size: 25px;
  font-weight: bold;
}

.metaDescription {
  font-size: 15px;
}

.metaDate {
  font-size: 14px;
  color: gray;
  margin: 3px;
}
