.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(200, 60%, 15%);
  padding: 1em 2em;
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.navItem {
  display: flex;
  align-items: center;
  font-size: 17px;
  text-decoration: none;
}

.icon {
  display: flex;
  align-items: center;
  gap: 12px;
}
