.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a7c080;
  padding: 1em 5em;
  width: 100%;
  box-sizing: border-box;
  color: white;
  margin-bottom: 25px;
}

.navItem {
  display: flex;
  align-items: center;
  font-size: 17px;
  text-decoration: none;
}

.icon {
  display: flex;
  align-items: center;
  gap: 12px;
}
