.separator {
  height: 1px;
  background-color: black;
  margin: 45px 0 !important;
  position: relative;
}

.circle {
  position: absolute;
  top: -4px;
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  left: calc(var(--circle-index, 0) * 100%);
}
